<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Molley Bélanger Blog</title>
</head>
<body>

    <header>
        <nav>
            <div class="social-links">
                <ul>
                    <li>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </li>
                    <li>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </li>
                </ul>
            </div>
            <div class="links">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            HOME
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            ABOUT
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">
                            CATEGORIES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="">
                            CONTACTS
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            <h1>Molley Bélanger</h1>
            <h2>PERSONAL BLOG FOOD</h2>
        </div>
    </header>

</body>
</html>